#!/bin/bash

# Excelの場所（ローカルで更新比較時のみ。VPSでは不要）
EXCEL_PATH="/mnt/c/Users/.../your_file.xlsx"

# CSVデータディレクトリ
DATA_DIR="$HOME/English_vocab_quiz/data.d"

# 一時ファイル
TMP_DIR=/tmp/ENquiz
SHUF_FILE="$TMP_DIR/shuf.txt"
